#footer
    .align
        h3 Nous contacter
        p.title Mail : 
        p contact@supfile.org
        p.title Adresse :
        p 52 rue Georges Philbois
        p 10000 Troyes, France 
    .align
        h3 A propos
        p Supfile.org est un service développé et maintenu par l'équipe de l'entreprise SupDev. 
    .align
        h3 Informations
        p Vous pouvez consulter nos mentions légales et nos conditions générales d'utilisation. 