doctype html
html(lang="fr")
  head
    link(rel="stylesheet", href="/css/main.css", data-inline)
  body
    #head.background
        .header
            .align
                img(src="./assets/logo.png", alt="Supfile", srcset="")
            .align
                h1.title Supfile 
                    span - Stockage de données  