include ../includes/header.pug

#container
    h3 Bonjour #{name},
    p Nous sommes heureux que vous ayez choisis d'utiliser notre service.
    p Pour valider votre inscription nous vous invitions à cliquer le lien ci-dessous.
    a.link(href=link) Valider mon inscription

include ../includes/footer.pug
